<template>
  <footer class="m-t-xl has-background-grey-lighter level">
    <div class="content has-text-centered" style="width: 100%;">
      <p>
        <strong>GERREX</strong> - Sistema de Monitoramento | Becape Automação Industrial
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: ''
}
</script>

<style scoped>
footer {
  height: 52px;
}
</style>
