<template>
  <nav class="navbar has-background-grey-lighter">
    <div class="navbar-brand">
      <span class="icon is-large m-l-sm has-text-primary" data-target="navbarExampleTransparentExample" v-on:click="toggleSideNav()">
        <i class="fas fa-bars fa-2x"></i>
      </span>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-item has-dropdown is-hoverable m-r-lg has-text-primary">
        <a class="navbar-link has-text-primary" href="#">
          Administrador
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item has-text-primary" href="/" v-on:click="logout()">
            Sair
          </a>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import store from '@/vuex/store'
import { TOGGLE_SIDENAV } from '@/vuex/actions'

export default {
  name: 'Header',

  methods: {
    toggleSideNav () {
      store.dispatch(TOGGLE_SIDENAV)
    }
  }
}
</script>

<style scoped>
.navbar-link::after {
  border-color: #000;
}
.seggy-brand:hover {
  background-color: #00000000 !important;
}
</style>
