<template>
  <div>
    <!-- <div class="navbar is-white">
    </div> -->
    <aside class="menu has-text-white">

      <div class="has-background-white level" style="height: 52px; display: flex; justify-content: center;">
        <div class="is-hidden-desktop m-t-md"></div>
        <img src="~@/assets/images/Gerrex_Text.png" style="max-width: 172px;">
      </div>

      <div class="columns p-sm is-hidden-mobile">
        <div class="column is-1-fullhd is-4-tablet">
          <figure class="image is-64x64 has-background-white" style="border-radius: 50%; padding: .3rem;">
            <img src="~@/assets/images/user.png" class="is-rounded">
          </figure>
        </div>
        <div class="column">
          <p class="has-text-centered">Welcome,</p>
          <p class="has-text-centered">Marcelo Amorin</p>
        </div>
      </div>

      <p class="menu-label has-text-grey-light m-l-sm">
        Main Menu
      </p>
      <ul class="menu-list">
        <li>
          <a class="has-text-white">
            <span class="icon is-small">
              <i class="fa fa-home"></i>
            </span> Home</a>
        </li>
        <li>
          <a class="has-text-white">
            <span class="icon is-small">
              <i class="fa fa-exclamation-triangle"></i>
            </span> Alarm</a>
        </li>
        <li>
          <a class="has-text-white">
            <span class="icon is-small">
              <i class="fas fa-chart-bar"></i>
            </span> Structure</a>
        </li>
        <li>
          <a class="has-text-white" id="a" :aria-expanded="false" @click="openMenu()">
            <span class="icon is-small">
              <i class="fas fa-folder-open"></i>
            </span> History
            <span class="icon is-small is-angle">
              <i class="fa fa-angle-down"></i>
            </span>
          </a>
          <ul v-if="menuIsOpen">
            <li>
              <router-link to="" class="has-text-white">
                {{ 'Users' }}
              </router-link>
            </li>
            <li>
              <router-link to="" class="has-text-white">
                {{ 'Equipments' }}
              </router-link>
            </li>
            <li>
              <router-link to="" class="has-text-white">
                {{ 'Equipment Types' }}
              </router-link>
            </li>
            <li>
              <router-link to="" class="has-text-white">
                {{ 'Devices' }}
              </router-link>
            </li>
          </ul>
        </li>
      </ul>
      <div class="is-hidden-desktop">
        <p class="menu-label has-text-grey-light m-t-md">
          Administrador
        </p>
        <ul class="menu-list">
          <li>
            <a class="has-text-white" href="/" v-on:click="logout()">
              <span class="icon is-small">
                <i class="fas fa-sign-out-alt"></i>
              </span> Logout</a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</template>

<script>

export default {
  name: 'SideMenu',

  data () {
    return {
      menuIsOpen: false
    }
  },

  methods: {
    openMenu () {
      this.menuIsOpen = !this.menuIsOpen
      var x = document.getElementById('a').getAttribute('aria-expanded')
      if (x === 'true') {
        x = 'false'
      } else {
        x = 'true'
      }
      document.getElementById('a').setAttribute('aria-expanded', x)
    }
  }
}
</script>

<style scoped lang="scss">
a.has-text-white:hover {
  color: #000 !important;
}
a {
  position: relative;
}
.icon {
  vertical-align: baseline;
  &.is-angle {
    position: absolute;
    right: 0;
    transition: transform 0.377s ease;
  }
}
.menu-label {
  padding-left: 5px;
}
.menu-list {
  li a {
    span {
      margin: 0 1rem 0 1rem;
    }
    &[aria-expanded="true"] {
      .is-angle {
        transform: rotate(180deg);
      }
    }
  }

  li a + ul {
    margin: 0 2rem 0 2rem;
  }
}
</style>
