<template>

  <div class="columns is-gapless">

    <div id="side-menu" class="column is-2-desktop is-3-tablet has-background-primary has-text-centered-mobile" v-if="isSideNavHidden">
      <SideMenu />
    </div>

    <div id="main" class="column box has-background-grey-light">

      <Header />

      <div id="main-content">

        <!-- <div class=""> -->
        <div class="container is-fluid">
          <div class="m-t-xl"></div>

          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="subtitle"><i class="fas fa-users"></i> Total Users</p>
                <p class="title">2500</p>
                <p class="subtitle">4% From last Week</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="subtitle"><i class="fas fa-clock"></i> Average Time</p>
                <p class="title">123.50</p>
                <p class="subtitle">3% From last Week</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="subtitle"><i class="fas fa-male"></i> Total Males</p>
                <p class="title">2,500</p>
                <p class="subtitle has-text-success"><i class="fas fa-sort-down"></i> 34% From last Week</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="subtitle"><i class="fas fa-female"></i> Total Females</p>
                <p class="title">2,315</p>
                <p class="subtitle">34% From last Week</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="subtitle"><i class="fas fa-balance-scale"></i> Total Balance</p>
                <p class="title">4,567</p>
                <p class="subtitle has-text-danger"><i class="fas fa-sort-down"></i> 12% From last Week</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="subtitle"><i class="fab fa-connectdevelop"></i> Total Connections</p>
                <p class="title">7,325</p>
                <p class="subtitle has-text-success"><i class="fas fa-sort-down"></i> 42% From last Week</p>
              </article>
            </div>
          </div>

          <div class="tile is-ancestor">
            <div class="tile is-parent is-4">
              <article class="tile is-child box">
                <div class="content">
                  <GChart type="BarChart" :data="chartData" :options="chartOptions" class="box" />
                </div>
              </article>
            </div>
            <div class="tile is-parent is-4">
              <article class="tile is-child box">
                <div class="content">
                  <GChart type="PieChart" :data="chartData" :options="chartOptions" class="box" />
                </div>
              </article>
            </div>
            <div class="tile is-parent is-4">
              <article class="tile is-child box">
                <div class="content">
                  <GChart type="AreaChart" :data="chartData" :options="chartOptions" class="box" />
                </div>
              </article>
            </div>
          </div>

          <div class="tile is-ancestor">
            <div class="tile is-parent is-4">
              <article class="tile is-child box">
                <div class="content">
                  <GChart type="ColumnChart" :data="chartData" :options="chartOptions" class="box" />
                </div>
              </article>
            </div>
            <div class="tile is-parent is-4">
              <article class="tile is-child box">
                <div class="content">
                  <GChart type="LineChart" :data="chartData" :options="chartOptions" class="box" />
                </div>
              </article>
            </div>
            <div class="tile is-parent is-4">
              <article class="tile is-child box">
                <div class="content">
                  <GChart type="LineChart" :data="chartData" :options="chartOptions" class="box" />
                </div>
              </article>
            </div>
          </div>

          <div class="tile is-ancestor">
            <div class="tile is-parent is-4">
              <article class="tile is-child box">
                <div class="content">
                  <GChart type="GeoChart" :data="geoChart" :options="a" class="box" />
                </div>
              </article>
            </div>
            <div class="tile is-parent is-4">
              <article class="tile is-child box">
                <div class="content">
                  <GChart type="PieChart" :data="donutChart" :options="a" class="box" />
                </div>
              </article>
            </div>
            <div class="tile is-parent is-4">
              <article class="tile is-child box">
                <div class="content">
                  <GChart type="PieChart" :data="donutChart" :options="a" class="box" />
                </div>
              </article>
            </div>
          </div>

        </div>

      </div>

      <Footer />

    </div>
  </div>
</template>

<script>
import { GChart } from 'vue-google-charts'
import Header from '@/components/shared/Header'
import SideMenu from '@/components/shared/SideMenu'
import Footer from '@/components/shared/Footer'
import draggable from 'vuedraggable'
import { mapGetters } from 'vuex'

export default {
  name: 'Dashboard',
  components: { GChart, Header, SideMenu, Footer, draggable },
  data () {
    return {
      myArray: [
        {
          'name': 'vue.draggable',
          'order': 1,
          'fixed': false
        },
        {
          'name': 'draggable',
          'order': 2,
          'fixed': false
        },
        {
          'name': 'component',
          'order': 3,
          'fixed': false
        },
        {
          'name': 'for',
          'order': 4,
          'fixed': false
        },
        {
          'name': 'based',
          'order': 6,
          'fixed': false
        },
        {
          'name': 'on',
          'order': 7,
          'fixed': false
        },
        {
          'name': 'vue.js 2.0',
          'order': 5,
          'fixed': false
        },
        {
          'name': 'Sortablejs',
          'order': 8,
          'fixed': false
        }
      ],
      chartsLib: null,
      chartData: [
        ['Year', 'Sales', 'Expenses', 'Profit'],
        ['2014', 1000, 400, 200],
        ['2015', 1170, 460, 250],
        ['2016', 660, 1120, 300],
        ['2017', 1030, 540, 350]
      ],
      chartOptions: {
        title: 'Company Performance',
        subtitle: 'Sales, Expenses, and Profit: 2014-2017',
        height: 350,
        is3D: true
      },
      donutChart: [
        ['Task', 'Hours per Day'],
        ['Work', 11],
        ['Eat', 2],
        ['Commute', 2],
        ['Watch TV', 2],
        ['Sleep', 7]
      ],
      geoChart: [
        ['Country', 'Popularity'],
        ['Germany', 200],
        ['United States', 300],
        ['Brazil', 400],
        ['Canada', 500],
        ['France', 600],
        ['RU', 700]
      ],
      gaugeChart: [
        ['Label', 'Value'],
        ['Memory', 80],
        ['CPU', 55],
        ['Network', 68]
      ],
      gaugeOptions: {
        width: 400,
        height: 120,
        redFrom: 90,
        redTo: 100,
        yellowFrom: 75,
        yellowTo: 90,
        minorTicks: 5
      },
      a: {
        pieHole: 0.4,
        title: 'My Daily Activities',
        height: 350
      },
      packages: ['gauge'],
      columns: [{
        'type': 'string',
        'label': 'Label'
      }, {
        'type': 'number',
        'label': 'Value'
      }],
      rows: [
        ['Memory', 80],
        ['CPU', 55],
        ['Network', 68]
      ],
      options: {
        width: 400,
        height: 120,
        redFrom: 90,
        redTo: 100,
        yellowFrom: 75,
        yellowTo: 90,
        minorTicks: 5
      }
    }
  },

  methods: {
    onChartReady (chart, google) {
      this.chartsLib = google
    }
  },

  computed: mapGetters({
    isSideNavHidden: 'isSideNavHidden'
  })
}
</script>

<style scoped>
.isSideNavHidden {
  visibility: hidden;
}
</style>
