<template>
  <section class="hero is-fullheight has-background-grey-darker">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <div class="columns is-mobile">
            <figure class="column is-3">
              <div class="level" style="height: 100%;">
                <img src="@/assets/images/Rex.png">
              </div>
            </figure>
            <figure class="column">
              <div class="level" style="height: 100%; display: flex;">
                <img src="@/assets/images/Gerrex_Text.png">
              </div>
            </figure>
          </div>
          <div class="box">
            <form @submit="goToDashboard">
              <div class="field">
                <div class="control has-icons-left">
                  <input class="input is-large" type="email" placeholder="Nome de Usuário" autofocus="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <div class="control has-icons-left">
                  <input class="input is-large" type="password" placeholder="Senha">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
              </div>
              <button class="button is-block is-success is-large is-fullwidth">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// import store from '../vuex/store'
// import * as actions from '../vuex/actions'

export default {
  name: 'Login',
  data () {
    return {
      credentials: {
        username: '',
        password: ''
      }
    }
  },

  methods: {
    // login () {
    //   store.dispatch(actions.LOGIN, this.credentials)
    //     .then((userData) => {
    //       this.$router.push('home')
    //     })
    // }

    goToDashboard () {
      this.$router.push('dashboard')
    }

  }
}
</script>

<style scoped>
.box {
  background-color: #282e33;
  border-top: #434a52 solid 4px;
  border-bottom: #434a52 solid 4px;
}
.button:hover {
  background-color: #16aa56;
  transition: background 0.3s ease-in-out;
}
</style>
