@charset "utf-8";

@import '../../../node_modules/buefy/dist/buefy.css';

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $teaLish: #2fc4d2;
// $sunflowerYellow: #ffcc00;
// $tomato: #eb4d4b;
// $seggyBlue: #03a9f4;
// $seggyGreen: #94df42;
// $darkTeaLish: #0098ab;

// Change default colors
$primary: #2A3F54;
// $info: #EDEDED;
$success: #B5CD60;
// $warning: #F7F7F7;
$link-hover: #212121;
// $danger: $tomato;
// $input-hover-border-color: $teaLish;
// $input-focus-border-color: $teaLish;
// $column-gap: 0.75rem;
// $navbar-dropdown-arrow: $darkTeaLish;
$grey-light: #F7F7F7;
$grey-darker: #2C3338;
$button-hover-color: #16aa56;
// $table-cell-heading-color: $teaLish;
// $table-head-cell-color: $teaLish;

// Custom Sizes and Colors
// $link: $teaLish;
$breadcrumb-item-padding-horizontal: 0.25em;
// $breadcrumb-item-active-color: $grey-light;
$table-cell-padding: 1em 1em;

// Import only what you need from Bulma
@import '../../../node_modules/bulma/bulma.sass';
// Import custom space helpers
@import './spacing.scss';
// Import bulma extensions
@import '../../../node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.sass';
